<div class="row-fluid">
  <div class="span6">
    <div class="widget dashboard-top">
      <div class="widget-header">
        <i class="icon-star"></i>
        <h3>Quick Stats (Last 30 days)</h3>
      </div> <!-- /widget-header -->
      <div class="widget-content">
        <div class="stats">

          <div class="stat">
            <span class="stat-value">15</span>
            Movies
          </div> <!-- /stat -->

          <div class="stat">
            <span class="stat-value">137</span>
            TV sub-titles
          </div> <!-- /stat -->

          <div class="stat">
            <span class="stat-value">374</span>
            Songs
          </div> <!-- /stat -->
        </div> <!-- /stats -->


        <div id="chart-stats" class="stats-half left">
          <div class="stat stat-chart">
            <div id="donut-chart" class="chart-holder"></div>
          </div> <!-- /substat -->
        </div>

        <div id="stats-summary" class="stats-half right">

          <div class="stat stat-time">
            <span class="stat-value">1.3 TB</span>
            Added
          </div> <!-- /substat -->

          <div id="stat-progress-bar" class="stat">
            <strong>Total Storage</strong>
            <div class="progress progress-success">
              <div class="bar" style="width: 60%;"></div>
            </div>
            <span>3.7 / 5.1 TB Used</span>

          </div>
        </div> <!-- /substats -->
      </div>
    </div>
  </div>

  <div class="span6">
    <div class="widget dashboard-top">
      <div class="widget-header">
        <i class="icon-signal"></i>
        <h3>Usage</h3>
      </div> <!-- /widget-header -->
      <div class="widget-content">
        <div id="area-chart" class="chart-holder"></div>
      </div> <!-- /widget-content -->
    </div>
  </div>

</div>