<div class="widget">
  <div class="widget-header">
    <i class="icon-film"></i>
    <h3>Movies</h3>
    <div class="btn-sort-group btn-group pull-right" data-toggle="buttons-radio">
      <button class="btn btn-mini active">Recent</button>
      <button class="btn btn-mini">Rating</button>
      <button class="btn btn-mini">Name</button>
    </div>
  </div> <!-- /widget-header -->
  <div class="widget-content">
    <ul class="full-list">
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/projectx.jpg">
        <h4 class="title"><a href="#">Project X</a></h4>
        <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
        <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


        </div>
        <div class="download"><i>added 2 days ago</i></div>
      </li>
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/grantorino.jpg">
         <h4 class="title"><a href="#">Gran Torino</a></h4>
         <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
         <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


        </div>
         <div class="download"><i>added 2 days ago</i></div>
      </li>
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/missionimpossible.jpg">
         <h4 class="title"><a href="#">Mission Impossible Ghost Protocol</a></h4>
         <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
         <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


        </div>
         <div class="download"><i>added 2 days ago</i></div>
      </li>
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/rampart.jpg">
        <h4 class="title"><a href="#">Rampart</a></h4>
        <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
        <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


        </div>
        <div class="download"><i>added 2 days ago</i></div>
      </li>
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/wanderlust.jpg">
         <h4 class="title"><a href="#">Wanderlust</a></h4>
         <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
         <div class="ratings">
           <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


         </div>
         <div class="download"><i>added 2 days ago</i></div>
      </li>
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/projectx.jpg">
        <h4 class="title"><a href="#">Project X</a></h4>
        <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
        <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


        </div>
        <div class="download"><i>added 2 days ago</i></div>
      </li>
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/grantorino.jpg">
         <h4 class="title"><a href="#">Gran Torino</a></h4>
         <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
         <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


        </div>
         <div class="download"><i>added 2 days ago</i></div>
      </li>
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/missionimpossible.jpg">
         <h4 class="title"><a href="#">Mission Impossible Ghost Protocol</a></h4>
         <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
         <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


        </div>
         <div class="download"><i>added 2 days ago</i></div>
      </li>
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/rampart.jpg">
        <h4 class="title"><a href="#">Rampart</a></h4>
        <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
        <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


        </div>
        <div class="download"><i>added 2 days ago</i></div>
      </li>
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/wanderlust.jpg">
         <h4 class="title"><a href="#">Wanderlust</a></h4>
         <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
         <div class="ratings">
           <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


         </div>
         <div class="download"><i>added 2 days ago</i></div>
      </li>
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/projectx.jpg">
        <h4 class="title"><a href="#">Project X</a></h4>
        <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
        <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


        </div>
        <div class="download"><i>added 2 days ago</i></div>
      </li>
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/grantorino.jpg">
         <h4 class="title"><a href="#">Gran Torino</a></h4>
         <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
         <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


        </div>
         <div class="download"><i>added 2 days ago</i></div>
      </li>
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/missionimpossible.jpg">
         <h4 class="title"><a href="#">Mission Impossible Ghost Protocol</a></h4>
         <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
         <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


        </div>
         <div class="download"><i>added 2 days ago</i></div>
      </li>
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/rampart.jpg">
        <h4 class="title"><a href="#">Rampart</a></h4>
        <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
        <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


        </div>
        <div class="download"><i>added 2 days ago</i></div>
      </li>
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/wanderlust.jpg">
         <h4 class="title"><a href="#">Wanderlust</a></h4>
         <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
         <div class="ratings">
           <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


         </div>
         <div class="download"><i>added 2 days ago</i></div>
      </li>
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/projectx.jpg">
        <h4 class="title"><a href="#">Project X</a></h4>
        <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
        <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


        </div>
        <div class="download"><i>added 2 days ago</i></div>
      </li>
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/grantorino.jpg">
         <h4 class="title"><a href="#">Gran Torino</a></h4>
         <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
         <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


        </div>
         <div class="download"><i>added 2 days ago</i></div>
      </li>
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/missionimpossible.jpg">
         <h4 class="title"><a href="#">Mission Impossible Ghost Protocol</a></h4>
         <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
         <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


        </div>
         <div class="download"><i>added 2 days ago</i></div>
      </li>
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/rampart.jpg">
        <h4 class="title"><a href="#">Rampart</a></h4>
        <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
        <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


        </div>
        <div class="download"><i>added 2 days ago</i></div>
      </li>
      <li class="span3 meta-popover">
        <img class="movie-xsmall" src="assets/images/wanderlust.jpg">
         <h4 class="title"><a href="#">Wanderlust</a></h4>
         <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
         <div class="ratings">
           <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>


         </div>
         <div class="download"><i>added 2 days ago</i></div>
      </li>
    </ul>
    <div class="pagination pull-left">
      <ul>
        <li><a href="#">Prev</a></li>
        <li class="active">
          <a href="#">1</a>
        </li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    </div>
  </div><!--/widget-content -->
</div>