<div class="widget listing-top">
  <div class="widget-header">
    <i class="icon-signal"></i>
    <h3>Recommended</h3>
  </div> <!-- /widget-header -->
  <div class="widget-content">
    <ul class="small-list">
      <li class="meta-popover">
        <img class="movie-xsmall" src="assets/images/projectx.jpg">
        <h4 class="title"><a href="#">Project X</a></h4>
        <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
        <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
        </div>
        <div class="download"><a href="#" class="btn btn-mini btn-success">Add to Queue</a></div>
      </li>
      <li class="meta-popover">
        <img class="movie-xsmall" src="assets/images/grantorino.jpg">
        <h4 class="title"><a href="#">Gran Torino</a></h4>
        <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
        <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
        </div>
        <div class="download"><a href="#" class="btn btn-mini btn-success">Add to Queue</a></div>
      </li>
      <li class="meta-popover">
        <img class="movie-xsmall" src="assets/images/missionimpossible.jpg">
        <h4 class="title"><a href="#">Mission Impossible Ghost Protocol</a></h4>
        <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
        <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
        </div>
        <div class="download"><a href="#" class="btn btn-mini btn-success">Add to Queue</a></div>
      </li>
      <li class="meta-popover">
        <img class="movie-xsmall" src="assets/images/rampart.jpg">
        <h4 class="title"><a href="#">Rampart</a></h4>
        <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
        <div class="ratings">
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
        </div>
        <div class="download"><a href="#" class="btn btn-mini btn-success">Add to Queue</a></div>
      </li>
      <li>
        <img class="movie-xsmall" src="assets/images/wanderlust.jpg">
        <h4 class="title"><a href="#">Wanderlust</a></h4>
        <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
        <div class="ratings">
           <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
        </div>
        <div class="download"><a href="#" class="btn btn-mini btn-success">Add to Queue</a></div>
      </li>
    </ul>
  </div> <!-- /widget-content -->
</div>