<div class="widget listing-top">
  <div class="widget-header">
    <i class="icon-film"></i>
    <h3>Find Movies</h3>
  </div> <!-- /widget-header -->
  <div class="widget-content">
    <form class="form-search form-inline">
      <div class="input-append">
        <input class="" id="appendedInputButtons" size="128" type="text"><button class="btn" type="button">Search</button><button class="btn" type="button">Options</button>
      </div>
    </form>
  </div>
</div>