//= require_self
//= require_tree .

// Set the correct sprite paths
$iconSpritePath: asset-url('glyphicons-halflings.png', image);
$iconWhiteSpritePath: asset-url('glyphicons-halflings-white.png', image);
@import "bootstrap";
@import "bootstrap-responsive";

body {
  background: #E9E9E9 asset-url("bg2.png", image) repeat 0 0;
  padding-top: 50px;
}

.content {
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.chart-holder {
  width: 100%;
  height: 250px;
}

img.movie-xsmall {
  width:46px;
  height:69px;
}

input#appendedInputButtons {
  width:80%;
  margin-left:5%;
}

footer {
  width: 100%;
  background-color:#000;
  margin:0;
  padding:20px;
  color:#e9e9e9;
}









